<div class="card">
    <div class="spinner-container">
      <mat-progress-spinner mode="determinate" [value]="progressValue" color="primary"></mat-progress-spinner>
    </div>
    <div class="details-container">
      <h2>Current Progress</h2>
      <h4>something need to be corrected</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam deserunt eligendi error..
      </p>
      <div class="icon-container">
        <div class="icon-background">
          <i class="fas fa-fingerprint"></i>
        </div>
      </div>
    </div>
  </div>
  